@charset 'UTstyleguide-8';

$code-blue: #183691;
$code-teal: #0086b3;
$code-black: #333;
$code-purple: #a71d5d;
$code-maroon: #a71d5d;
$code-green: #63a35c;
$code-light-gray: #f7f7f7;
$code-dark-gray: #969896;

.styleguide-description code,
code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none;
  line-height: 1.4;
  font-family: 'Consolas', 'Liberation Mono', Menlo, Courier, monospace;
  color: $code-black;
  direction: ltr;
  cursor: text;
  letter-spacing: normal;
}

.styleguide-description code {
  color: $code-purple;
}

// code blocks
pre[class*='language-'] {
  overflow: auto;
  margin: 1em 0;
  padding: 1.2em;
  border-radius: 3px;
  font-size: 1em;
}

.styleguide-description p code,
.styleguide-description li code,
.styleguide-description table code {
  margin: 0;
  padding: 0.2em 0;
  border-radius: 3px;
  font-size: 85%;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }
}

.styleguide-description code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: $code-light-gray;
}

// inline code
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}


// token colors
.prism-token {

  &.prism-comment,
  &.prism-prolog,
  &.prism-doctype,
  &.prism-cdata {
    color: $code-dark-gray;
  }

  &.prism-punctuation,
  &.prism-string,
  &.prism-atrule,
  &.prism-attr-value {
    color: $code-blue;
  }

  &.prism-property,
  &.prism-tag {
    color: $code-green;
  }

  &.prism-boolean,
  &.prism-number {
    color: $code-teal;
  }

  &.prism-selector,
  &.prism-attr-name,
  &.prism-attr-value .punctuation:first-child,
  &.prism-keyword,
  &.prism-regex,
  &.prism-important {
    color: $code-maroon;
  }

  &.prism-operator,
  &.prism-entity,
  &.prism-url,
  .language-css &.prism-string {
    color: $code-purple;
  }

  &.prism-entity {
    cursor: help;
  }

}

.namespace {
  opacity: 0.7;
}
