.styleguide-controls {
  @include clearfix;
  @include border-box;
  background: darken($menu-bg, 6);

  .styleguide-control {
    display: block;
    float: left;
    text-align: center;
    width: percentage(1/3);
    margin: 0;
    padding: 1.3em 0 1em;

    &.styleguide-active {
      box-shadow: inset 0 0.25em 0 0 $accent-color;
      use { fill: $menu-fg; }
    }

    svg {
      vertical-align: middle;
      use { fill: $menu-fg; }
    }
  }
}

.styleguide-control {
  @include border-box;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.66em;

  &:first-child {
    margin-left: 0;
  }

  svg {
    width: 1em;
    height: 1em;

    use {
      fill: $text-color;
    }
  }
}

.styleguide-control-bar {
  @include clearfix;
  padding: 1em 0;
}

.styleguide-menu-toggle {
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover { opacity: 1; }

  svg {
    display: block;
    float: left;
    margin-bottom: -1px;
  }

  @media screen and (max-width: 32em) { opacity: 1; }
}
