.styleguide-item-group {
  @include clearfix;
  margin-top: 3em;
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }

  & ~ & {
    margin-top: 0;
  }

  & > & {
    margin-bottom: 2.5em;
    border-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.styleguide-description {
  padding: 1em;
  background-color: $menu-bg;
  border: 1px solid darken($menu-bg, 6%);
  border-bottom: none;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
}

.styleguide-item-notes {
  > :last-child {
    margin-bottom: 0;
  }
}

.styleguide-item-preview {
  @include clearfix;
  position: relative;
  padding: 1em;
  border: 1px solid darken($menu-bg, 6%);
}

.styleguide-item-border-bottom {
  border-bottom: 1px solid red;
}

.styleguide-item-heading-group {
  @include clearfix;
  margin-bottom: 0.5em;
  vertical-align: middle;
}

.styleguide-item-heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  line-height: 1;
  text-transform: capitalize;
}

.styleguide-item-controls {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;

  .styleguide-control {
    display: block;
    float: left;
    width: 0.875em;
    height: 0.875em;
    &:hover use { fill: color(normal); }
    use { fill: rgba(0, 0, 0, 0.4); }
  }
}

.styleguide-item-hidden {
  display: none;
}

.styleguide-item-notes {
  max-width: 800px;
  font-size: 1em;
}
