html {
  height: 100%;

  &.styleguide-menu-active {
    overflow: hidden;

    @media (min-width: 60em) {
      overflow: auto;
    }
  }
}

body {
  position: relative;
  margin: 0;

  .styleguide-menu-active & {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media (min-width: 60em) {
      overflow: auto;
      height: auto;
    }
  }
}

.styleguide-container {
  @include clearfix;

  position: relative;
  padding: 0 2em;
  z-index: 0;
  min-height: 100vh;

  .styleguide-menu-active & {
    transform: translate(250px, 0);

    @media (min-width: 60em) {
      margin-left: 250px;
      transform: translate(0, 0);
    }
  }
}

.styleguide-header-container {
  display: flex;
  align-items: center;
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: 1em;
  padding: 2em;
  background: $menu-bg;
  color: $heading-color;

  h1 { margin-bottom: 0; }

  svg {
    use { fill: $heading-color; }
    &:hover use { fill: $accent-color; }
  }
}

.styleguide-page-container {
  max-width: 800px;
}
