<section class="content container spacer-t-b">
			<h2>Interaction Week 18, A week like no other</h2>
			<div class="boxes boxes-2">
				<div class="box">
					<p>
						Interaction Week 18 wants to reflect on how technology and design are shaping the world moving forward by building bridges across cultures, disciplines and industries to reach shared goals.
					</p>
				</div>
				<div class="box">
					<p>
						We are going to listen to experts and join conversations to reshape our changing relations with ourselves, our objects, the environment and the society as a whole.
					</p>
				</div>
			</div>
			<p>
				<strong>
					Week overview 3—8 February 2018
				</strong>
			</p>

			<div class="schedule">
				<div class="schedule-date" role="presentation">
					<h6 class="schedule-day color-purple">Sat 3</h6>
				</div>
				<div class="schedule-date color-purple" role="presentation">
					<h6 class="schedule-day">Sun 4</h6>
				</div>
				<div class="schedule-date color-mauve" role="presentation">
					<h6 class="schedule-day">Mon 5</h6>
				</div>
				<div class="schedule-date color-pink" role="presentation">
					<h6 class="schedule-day">Tue 6</h6>
				</div>
				<div class="schedule-date color-pink" role="presentation">
					<h6 class="schedule-day">Wed 7</h6>
				</div>
				<div class="schedule-date schedule-date-2rows color-pink" role="presentation">
					<h6 class="schedule-day">Thu 8</h6>
				</div>

				<div class="schedule-activity schedule-activity-education-summit">
					<h4><a href="#" for="more-education-summit" class="no-underline js-collapse schedule-activity-more-link color-purple">
						<time datetime="2018-02-03T12:00:00+00:00">3—4 Feb - </time>
						Interaction Design Education Summit<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h4>
					<div class="js-collapsed schedule-activity-more" id="more-education-summit">
						<p>
							Grow your passion for learning and educating, explore how design learning is even more transdisciplinary.
							<br/>
							<a href="http://edusummit.ixda.org/">learn more</a>
						</p>
					</div>
				</div>
				<div class="schedule-activity schedule-activity-workshop">
					<h4><a href="#" for="more-workshop" class="no-underline js-collapse schedule-activity-more-link color-mauve">
						<time datetime="2018-02-05T12:00:00+00:00">5 Feb - </time>
						Workshops<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h4>
					<div class="js-collapsed schedule-activity-more" id="more-workshop">
						<p>
							Join the best designers and learn hands on.
							<br/>
							<em>workshop tickets soon</em>
						</p>
					</div>
				</div>
				<div class="schedule-activity schedule-activity-interaction18-conference">
					<h4><a href="#" for="more-interaction18-conference" class="no-underline js-collapse schedule-activity-more-link color-pink">
						<time datetime="2018-02-06T12:00:00+00:00">6—8 Feb - </time>
						Interaction 18 Conference<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h4>
					<div class="js-collapsed schedule-activity-more" id="more-interaction18-conference">
						<p>
							The main event. You will enjoy three full conference days, listening to experts and join conversations to reshape our changing relations with ourselves, our objects, the environment and the society as a whole.
							Don’t miss the opening night and the Interaction Awards!
							<br/>
							<a href="http://join.interaction.ixda.org/">Get tickets</a>
						</p>
					</div>
				</div>
				<div class="schedule-activity schedule-activity-local-leader">
					<h5><a href="#" for="more-local-leader" class="no-underline js-collapse schedule-activity-more-link">
						<time datetime="2018-02-04T12:00:00+00:00">4 Feb - </time>
						Local Leaders workshop<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h5>
					<div class="js-collapsed schedule-activity-more" id="more-local-leader">
						<p>
							Are you passionate about growing your local community? Join us in a one day workshop.
							<br/>
							<em>free tickets soon</em>
						</p>
					</div>
				</div>
				<div class="schedule-activity schedule-activity-student-design-challenge">
					<h5><a href="#" for="more-student-design-challenge" class="no-underline js-collapse schedule-activity-more-link">
						<time datetime="2018-02-05T12:00:00+00:00">5—8 Feb - </time>
						Student Design Challenge<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h5>
					<div class="js-collapsed schedule-activity-more" id="more-student-design-challenge">
						<p>
							Demonstrate your skills in the design challenge and learn from amazing mentors.
							<br/>
							<a href="http://sdc.ixda.org/">learn more</a>
						</p>
					</div>
				</div>
				<div class="schedule-activity schedule-activity-awards">
					<h5><a href="#" for="more-awards" class="no-underline js-collapse schedule-activity-more-link color-pink">
						<time datetime="2018-02-05T12:00:00+00:00">8 Feb - </time>
						Awards Ceremony<span class="arrow-down">&nbsp;&blacktriangledown;</span>
					</a></h5>
					<div class="js-collapsed schedule-activity-more" id="more-awards">
						<p>
							The annual Interaction Awards celebrate design thought leadership and innovation around the globe
							<br/>
							<a href="http://awards.ixda.org">learn more</a>
						</p>
					</div>
				</div>

			</div>

		</section>
