<div class="form-group">
  <label for="exampleInputEmail1">Adresse email</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="jean.dupont@gmail.com">
  <small id="emailHelp" class="form-text text-muted">Nous ne partagerons votre adresse email avec personne.</small>
</div>
