<section class="content container spacer-t-b">
			<div class="boxes boxes-2">
				<div class="box">
					<h3>Bienvenue in Lyon</h3>
					<img src="images/photos/home_lyon-riverbanks.jpg" alt="Lyon full view">
					<p>First city for culture, second City of the Arts in France, hometown of film-making, smart, food-savvy and sustainable. Lyon is the second biggest city in the country.</p>
					<p>Its vibrant heritage and energetic spirit convince 5.5 millions tourists every year to come and enjoy everything she has to offer.</p>
				</div>
				<div class="box">
					<h3>A true confluence</h3>
					<img src="images/photos/home_lyon-confluence.jpg" alt="River confluence">
					<p>At the confluence of Rhône and Saône, Lyon’s two rivers, the new Confluence area is emerging from a former industrial district. </p>
					<p>This massive project of urban renewal combines bold architecture, restored industrial sites and re-embraces its river banks and natural environment. A place where creativity and entrepreneurship emerge.</p>
				</div>
			</div>
			<p class="text-center spacer-t-b">
				<a href="lyon.html" class="button">Discover your stay in Lyon</a>
			</p>
		</section>
