<ol class="step-nav">
  <li class="step-nav-item">
     <a class="step-nav-link btn btn-outline-invert btn-circle active" href="#" title="Qui êtes-vous?"><span class="sr-only">1e étape (étape courante)</span></a>
  </li>
  <li class="step-nav-item">
    <a class="step-nav-link btn btn-outline-invert btn-circle" href="#" title="Informations de contact"><span class="sr-only">2e étape</span></a>
  </li>
  <li class="step-nav-item">
    <a class="step-nav-link btn btn-outline-invert btn-circle" href="#" title="Mot de passe"><span class="sr-only">3e étape</span></a>
  </li>
</ol>
