<ul class="list-items">
  <li>
    <a href="#" class="list-item">
      <div class="list-item-icon">
        {% include "@atoms/icon/icon.twig" with {icon: 'themes'} %}
      </div>
      <span class="list-item-title">Cours d’anglais</span>
      <span class="list-item-inside">27 juillet 2017</span>
      <span class="list-item-action btn btn-outline-secondary btn-circle shadow-to-left btn-white ml-auto" title="Voir les détails">
        {% include "@atoms/icon/icon.twig" with {icon: 'look'} %}
        <span class="sr-only">Voir les détails</span>
      </span>
    </a>
  </li>
</ul>
