@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

%<%= fontName %> {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.<%= className %>:before {
  @extend %<%= fontName %>;
}

.<%= className %>-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.<%= className %>-2x { font-size: 2em; }
.<%= className %>-3x { font-size: 3em; }
.<%= className %>-4x { font-size: 4em; }
.<%= className %>-5x { font-size: 5em; }
.<%= className %>-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

// transform the icon
.<%= className %>-flip-horizontal:before { transform: scaleX(-1); }
.<%= className %>-flip-vertical:before { transform: scaleY(-1); }
.<%= className %>-rotate-90deg:before { transform: rotate(90deg); }
.<%= className %>-rotate-180deg:before { transform: rotate(180deg); }
.<%= className %>-rotate-270deg:before { transform: rotate(270deg); }

// Variables with the unicode character
<% _.each(glyphs, function(glyph) { %>$<%= className %>-<%= glyph.name %>: "\<%= glyph.codepoint.toString(16).toUpperCase() %>";
<% }); %>

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: $<%= className %>-<%= glyph.name %>; }
<% }); %>
