<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Styleguide</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twig.js/0.8.9/twig.min.js"></script>
    <link rel="stylesheet" href="base.css">

    <script type="text/javascript">
      window.sources = [/* SOURCES */];
      window.data = {/* DATA */};
    </script>
  </head>
  <body>
    <div id="styleguide"></div>
  </body>
</html>