<div class="flag {{ classes|join(' ') }}" title="Inscription confirmée">
  <svg class="icon flag-glow" preserveAspectRatio="xMidYMid">
    <use xlink:href="#icon-flag"></use>
    <use xlink:href="#icon-{{ icon|default('wait') }}"></use>
  </svg>
</div>
